<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper	namespace="com.moa.youthpolicy.community.mapper.CommunityMapper">
	<select id="getfiveboard" resultType="CommunityVO">
		SELECT * FROM tipboard
		ORDER BY bno
		DESC LIMIT 5
	</select>

	<select id="select" resultType="CommunityVO">
		select * from tipboard
		ORDER BY bno DESC
	</select>
	
	<select id="delete" parameterType="CommunityVO">
		DELETE FROM tipboard
		WHERE bno=#{bno}
	</select>
	
	<select id="getTotalCount" resultType="int" parameterType="com.moa.youthpolicy.common.Criteria">
		SELECT COUNT(bno) FROM tipboard
		WHERE bno>0
		AND isdeleted = 0
		<if test="writer != null and writer != ''">
			And writer = #{writer}
		</if>
	    <if test="type != null and keyword != null and keyword != ''">
	        <choose>
	            <when test='type == ""'>
	                AND (title LIKE CONCAT('%', #{keyword}, '%') OR
	                REGEXP_REPLACE(content,'&lt;[^&gt;]*&gt;', '') LIKE CONCAT('%', REGEXP_REPLACE(#{keyword}, '&lt;[^&gt;]*&gt;', ''), '%') OR 
	                writer LIKE CONCAT('%', #{keyword}, '%'))
	            </when>
	            <when test='type == "TC"'>
	                AND (title LIKE CONCAT('%', #{keyword}, '%') OR 
	                REGEXP_REPLACE(content,'&lt;[^&gt;]*&gt;', '') LIKE CONCAT('%', REGEXP_REPLACE(#{keyword}, '&lt;[^&gt;]*&gt;', ''), '%'))
	            </when>
	            <when test='type == "T"'>
	                AND title LIKE CONCAT('%', #{keyword}, '%')
	            </when>
	            <when test='type == "W"'>
	                AND writer LIKE CONCAT('%', #{keyword}, '%')
	            </when>
	        </choose>
	    </if>
	    <if test="rgnSeNm != null and rgnSeNm != ''">
	        AND region LIKE CONCAT('%', #{rgnSeNm}, '%')
	    </if>
	    <if test="policyTypeNm != null and policyTypeNm != ''">
	        AND category LIKE CONCAT('%', #{policyTypeNm}, '%')
	    </if>
	
		
		<!--
		<if test="type != null and type !='' and keyword !=null and keyword!=''">
			AND ${type} LIKE CONCAT('%', #{keyword}, '%') 
		</if>
		-->
		
	</select>
	
	<select id="getListWithPaging" resultType="CommunityVO" parameterType="com.moa.youthpolicy.common.Criteria">
		SELECT * FROM tipboard
		WHERE bno>0
		AND isdeleted = 0
		<if test="writer != null and writer != ''">
			And writer = #{writer}
		</if>
	    <if test="type != null and keyword != null and keyword != ''">
	        <choose>
	            <when test='type == ""'>
	                AND (title LIKE CONCAT('%', #{keyword}, '%') OR
	                REGEXP_REPLACE(content,'&lt;[^&gt;]*&gt;', '') LIKE CONCAT('%', REGEXP_REPLACE(#{keyword}, '&lt;[^&gt;]*&gt;', ''), '%') OR 
	                writer LIKE CONCAT('%', #{keyword}, '%'))
	            </when>
	            <when test='type == "TC"'>
	                AND (title LIKE CONCAT('%', #{keyword}, '%') OR 
	                REGEXP_REPLACE(content,'&lt;[^&gt;]*&gt;', '') LIKE CONCAT('%', REGEXP_REPLACE(#{keyword}, '&lt;[^&gt;]*&gt;', ''), '%'))
	            </when>
	            <when test='type == "T"'>
	                AND title LIKE CONCAT('%', #{keyword}, '%')
	            </when>
	            <when test='type == "W"'>
	                AND writer LIKE CONCAT('%', #{keyword}, '%')
	            </when>
	        </choose>
	    </if>
	    <if test="rgnSeNm != null and rgnSeNm != ''">
	        AND region LIKE CONCAT('%', #{rgnSeNm}, '%')
	    </if>
	    <if test="policyTypeNm != null and policyTypeNm != ''">
	        AND category LIKE CONCAT('%', #{policyTypeNm}, '%')
	    </if>
	    
		ORDER BY
		CASE WHEN userType = '0' THEN 0 ELSE 1 END,
	    <choose>
	        <when test="selectedFilter == 'like'">
	            `like` DESC, bno DESC
	        </when>
	        <otherwise>
	            bno DESC
	        </otherwise>
	    </choose>		
		LIMIT #{start}, #{amount}
	</select>
	
	<select id="getBoard" resultType="CommunityVO" parameterType="CommunityVO">
		SELECT * FROM tipboard WHERE bno=#{bno}
	</select>
	
	<select id="getCommentTotalCount" resultType="int" parameterType="com.moa.youthpolicy.common.Criteria">
		SELECT COUNT(cno) FROM tipboardcomments
		WHERE bno=#{bno} AND isdeleted = 0
		AND cno NOT IN(
			SELECT * FROM(
				SELECT cno from tipboardcomments WHERE cno> 0 AND bno = #{bno} AND `like`>=10 ORDER BY `like` DESC LIMIT #{amountBestComment})
	 		as tmp
		)
	</select>

  	<select id="getCommentListWithPaging" resultType="CommunityCommentVO" parameterType="com.moa.youthpolicy.common.Criteria">
		SELECT * FROM tipboardcomments
		WHERE cno > 0  AND isdeleted = 0
		AND bno = #{bno}
		AND cno NOT IN(
			SELECT * FROM(
				SELECT cno from tipboardcomments WHERE cno> 0 AND bno = #{bno} AND `like`>=10 ORDER BY `like` DESC LIMIT #{amountBestComment})
	 		as tmp
		)
		ORDER BY cno DESC
		LIMIT #{start}, #{amount}
	</select>
		
	<select id="getBestCommentList" resultType="CommunityCommentVO" parameterType="com.moa.youthpolicy.common.Criteria">
		SELECT * FROM tipboardcomments
		WHERE cno>0 AND bno=#{bno} AND `like`>=10
		ORDER BY `like` DESC
		LIMIT #{amountBestComment}
	</select>

	<insert id="writeComment" parameterType="CommunityCommentVO">
		INSERT INTO tipboardcomments
		(content, bno, writer)
		values(#{content}, #{bno}, #{writer})
	</insert>	

	<delete id="deleteComment" parameterType="Integer">
		DELETE FROM tipboardcomments
		WHERE cno=#{cno}
	</delete>	
	
	<update id="modComment" parameterType="CommunityCommentVO">
		UPDATE tipboardcomments
		SET content=#{content}
		WHERE cno=#{cno}
	</update>
	
	<!-- 게시글 좋아요 기능 -->
	<select id="getLike" resultType="com.moa.youthpolicy.common.LikeBoardVO" parameterType="com.moa.youthpolicy.common.LikeBoardVO">
		SELECT Email, bno FROM like_tipboard
	    WHERE Email = #{Email} AND bno = #{bno}
	</select>
	
	<delete id="delLike" parameterType="com.moa.youthpolicy.common.LikeBoardVO">
		DELETE FROM like_tipboard
    	WHERE Email = #{Email} AND bno = #{bno}
	</delete>
	
	<insert id="addLike" parameterType="com.moa.youthpolicy.common.LikeBoardVO">
	    INSERT INTO like_tipboard (Email, bno)
	    VALUES (#{Email}, #{bno})
	</insert>
	
	<update id="modLike" parameterType="com.moa.youthpolicy.community.domain.CommunityVO">
	    UPDATE tipboard SET `like` = #{like}
	    WHERE bno = #{bno}
	</update>
	
	<!-- 댓글 좋아요 기능 -->
	
	<select id="getComment" resultType="com.moa.youthpolicy.community.domain.CommunityCommentVO" parameterType="int">
		SELECT * FROM tipboardcomments
	    WHERE cno = #{cno}
	</select>
	
	<select id="getCommentLike" resultType="com.moa.youthpolicy.common.LikeCommentVO" parameterType="com.moa.youthpolicy.common.LikeCommentVO">
		SELECT Email, cno FROM like_tipboardcomments
	    WHERE Email = #{Email} AND cno = #{cno}
	</select>
	
	<delete id="delCommentLike" parameterType="com.moa.youthpolicy.common.LikeCommentVO">
		DELETE FROM like_tipboardcomments
    	WHERE Email = #{Email} AND cno = #{cno}
	</delete>
	
	<insert id="addCommentLike" parameterType="com.moa.youthpolicy.common.LikeCommentVO">
	    INSERT INTO like_tipboardcomments (Email, cno)
	    VALUES (#{Email}, #{cno})
	</insert>
	
	<update id="modCommentLike" parameterType="com.moa.youthpolicy.community.domain.CommunityCommentVO">
	    UPDATE tipboardcomments SET `like` = #{like}
	    WHERE cno = #{cno}
	</update>
	
	<!-- 글 작성, 삭제, 수정 -->
	<insert id="write" parameterType="com.moa.youthpolicy.community.domain.CommunityVO">
		INSERT INTO tipboard
		(title,content,writer,category,region,userType)
		VALUES (#{title}, #{content}, #{writer}, #{category}, #{region},#{userType})
	</insert>	
	
	<delete id="deleteBoard" parameterType="Integer">
	    DELETE FROM tipboard
	    WHERE bno=#{bno}
	</delete>
	
	<update id="modifyBoard" parameterType="com.moa.youthpolicy.community.domain.CommunityVO">
        UPDATE tipboard
        SET title = #{title}, content = #{content}, category = #{category}, region = #{region}
        WHERE bno = #{bno}
    </update>
    
    <!-- 게시글 신고 -->
    <!-- 게시글 신고 확인 -->
    <select id="getReportBoard" resultType="com.moa.youthpolicy.common.BoardReportVO" parameterType="com.moa.youthpolicy.common.BoardReportVO">
		SELECT * FROM boardreport
		WHERE reporter = #{reporter} AND boardType = #{boardType} AND tipbno = #{tipbno}	
	</select>
	
	<!-- 게시글 신고 제출 -->
	<insert id="reportBoard" parameterType="com.moa.youthpolicy.common.BoardReportVO">
		INSERT INTO boardreport
		(tipbno, reasonCategory, reporter, reason, boardType)
		values(#{tipbno},#{reasonCategory},#{reporter},#{reason},#{boardType})
	</insert>
	
	
	<!-- 새글알람 -->
	<select id="alarmNew" resultType="int" parameterType="com.moa.youthpolicy.common.Criteria">
	    SELECT bno
	    FROM tipboard
	    WHERE DATE(regDate) = CURDATE()
	</select>

	<!-- 댓글 수 가져오ㄹ기 -->
	<select id="getCommentNm" resultType="int" parameterType="com.moa.youthpolicy.common.Criteria">
	    SELECT COUNT(tipboardcomments.cno)
	    FROM tipboard
	    LEFT JOIN tipboardcomments ON tipboard.bno = tipboardcomments.bno
	    WHERE tipboard.bno = #{bno} AND tipboardcomments.isdeleted = 0; 
	</select>

	
</mapper>