<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper	namespace="com.moa.youthpolicy.admin.mapper.AdminMapper">
	<select id="getTotalCount" resultType="int" parameterType="com.moa.youthpolicy.common.Criteria">
		SELECT COUNT(Email) FROM user
		<if test='userType == "1" or userType == null'>
			WHERE userType = 1
		</if>
		<if test='userType == "2"'>
			WHERE userType = 2
		</if>
		<if test='userType == "3"'>
			WHERE userType = 3
		</if>
		<if test='type == "nick" or type == null'>
			<if test="keyword != null and keyword != ''">
				AND nick LIKE CONCAT('%', #{keyword}, '%')
			</if>
			<if test="keyword == null or keyword ==''">
				AND nick LIKE CONCAT('%', '', '%')
			</if>
		</if>
		<if test='type == "Email"'>
			<if test="keyword != null and keyword != ''">
				AND Email LIKE CONCAT('%', #{keyword}, '%')
			</if>
			<if test="keyword == null or keyword ==''">
				AND Email LIKE CONCAT('%', '', '%')
			</if>
		</if>

	</select>

	<select id="getListWithPaging" resultType="UserVO" parameterType="com.moa.youthpolicy.common.Criteria">
		SELECT * FROM user
		<if test='userType == "1" or userType == null'>
			WHERE userType = 1
		</if>
		<if test='userType == "2"'>
			WHERE userType = 2
		</if>
		<if test='userType == "3"'>
			WHERE userType = 3
		</if>
		
		<if test='type == "nick" or type == null'>
			<if test="keyword != null and keyword != ''">
				AND nick LIKE CONCAT('%', #{keyword}, '%')
			</if>
			<if test="keyword == null or keyword ==''">
				AND nick LIKE CONCAT('%', '', '%')
			</if>
		</if>
		<if test='type == "Email"'>
			<if test="keyword != null and keyword != ''">
				AND Email LIKE CONCAT('%', #{keyword}, '%')
			</if>
			<if test="keyword == null or keyword ==''">
				AND Email LIKE CONCAT('%', '', '%')
			</if>
		</if>
		ORDER BY regDate DESC

		LIMIT #{start}, #{amount}
		
	</select>
	
	<!-- 회원 강제 탈퇴 시 userType을 3으로 변경 -->
	<update id="delMember" parameterType="UserVO">
		UPDATE user
		SET userType = 3
		WHERE Email = #{Email}
	</update>
</mapper>