<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper	namespace="com.moa.youthpolicy.admin.mapper.AdminMapper">
	<select id="getTotalCount" resultType="int" parameterType="com.moa.youthpolicy.common.Criteria">
		SELECT COUNT(Email) FROM user
		<choose>
			<when test='userType == "1" or userType == null'>
				WHERE userType = 1
			</when>
			<when test='userType == "2"'>
				WHERE userType = 2
			</when>
			<when test='userType == "3"'>
				WHERE userType = 3
			</when>		
		</choose>
		<if test='type == "nick" or type == null'>
			<choose>
				<when test="keyword != null and keyword != ''">
					AND nick LIKE CONCAT('%', #{keyword}, '%')
				</when>		
				<otherwise>
					AND nick LIKE CONCAT('%', '', '%')
				</otherwise>	
			</choose>
		</if>
		<if test='type == "Email"'>
			<choose>
				<when test="keyword != null and keyword != ''">
					AND Email LIKE CONCAT('%', #{keyword}, '%')
				</when>		
				<otherwise>
					AND Email LIKE CONCAT('%', '', '%')
				</otherwise>	
			</choose>
		</if>

	</select>

	<select id="getCommentTotalCount" resultType="int">
	  SELECT
	    COUNT(DISTINCT CASE WHEN tipcno IS NOT NULL THEN tipcno ELSE NULL END) +
	    COUNT(DISTINCT CASE WHEN policycno IS NOT NULL THEN policycno ELSE NULL END)
	  FROM commentsreport
	  WHERE tipcno IS NOT NULL OR policycno IS NOT NULL;
	</select>

	<select id="getListWithPaging" resultType="UserVO" parameterType="com.moa.youthpolicy.common.Criteria">
		SELECT * FROM user
		<choose>
			<when test='userType == "1" or userType == null'>
				WHERE userType = 1
			</when>
			<when test='userType == "2"'>
				WHERE userType = 2
			</when>
			<when test='userType == "3"'>
				WHERE userType = 3
			</when>		
		</choose>

		
		<if test='type == "nick" or type == null'>
			<choose>
				<when test="keyword != null and keyword != ''">
					AND nick LIKE CONCAT('%', #{keyword}, '%')
				</when>		
				<otherwise>
					AND nick LIKE CONCAT('%', '', '%')
				</otherwise>	
			</choose>
		</if>
		<if test='type == "Email"'>
			<choose>
				<when test="keyword != null and keyword != ''">
					AND Email LIKE CONCAT('%', #{keyword}, '%')
				</when>		
				<otherwise>
					AND Email LIKE CONCAT('%', '', '%')
				</otherwise>	
			</choose>
		</if>
		ORDER BY regDate DESC

		LIMIT #{start}, #{amount}
	</select>
	
	<select id="commentListPaging" resultType="AdminVO" parameterType="com.moa.youthpolicy.common.Criteria">
		SELECT
		    p.*, 'P' AS boardType,
		    (SELECT COUNT(policycno) FROM commentsreport) AS policycno
		FROM
		    policyboardcomments p
		WHERE
		    EXISTS (SELECT 1 FROM commentsreport cr WHERE cr.policycno = p.cno)
		
		UNION
		
		SELECT
		    t.*, 'T' AS boardType,
		    (SELECT COUNT(tipcno) FROM commentsreport) AS tipcno
		FROM
		    tipboardcomments t
		WHERE
		    EXISTS (SELECT 1 FROM commentsreport cr WHERE cr.tipcno = t.cno)
		
		ORDER BY
		    regDate DESC
		LIMIT #{start}, #{amount};
	</select>
	
	<!-- 회원 강제 탈퇴 시 userType을 3으로 변경 -->
	<update id="delMember" parameterType="UserVO">
		UPDATE user
		SET userType = 3,
			leaveDate = CURRENT_TIMESTAMP
		WHERE Email = #{Email}
	</update>
</mapper>