<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper	namespace="com.moa.youthpolicy.admin.mapper.AdminMapper">
	<select id="getTotalCount" resultType="int" parameterType="com.moa.youthpolicy.common.Criteria">
		SELECT COUNT(Email) FROM user
		<choose>
			<when test='userType == "1" or userType == null'>
				WHERE userType = 1
			</when>
			<when test='userType == "3"'>
				WHERE userType = 3
			</when>		
		</choose>
		<if test='type == "nick" or type == null'>
			<choose>
				<when test="keyword != null and keyword != ''">
					AND nick LIKE CONCAT('%', #{keyword}, '%')
				</when>		
				<otherwise>
					AND nick LIKE CONCAT('%', '', '%')
				</otherwise>	
			</choose>
		</if>
		<if test='type == "Email"'>
			<choose>
				<when test="keyword != null and keyword != ''">
					AND Email LIKE CONCAT('%', #{keyword}, '%')
				</when>		
				<otherwise>
					AND Email LIKE CONCAT('%', '', '%')
				</otherwise>	
			</choose>
		</if>

	</select>

	<select id="getCommentTotalCount" resultType="int" parameterType="com.moa.youthpolicy.common.Criteria">
	    SELECT
	        COUNT(DISTINCT CASE
	                WHEN boardType = 'T' AND EXISTS (SELECT 1 FROM tipboardcomments WHERE tipcno = commentsreport.tipcno) THEN commentsreport.tipcno
	                WHEN boardType = 'P' AND EXISTS (SELECT 1 FROM policyboardcomments WHERE policycno = commentsreport.policycno) THEN commentsreport.policycno
	                ELSE NULL
	            END
	        ) AS totalCount
	    FROM commentsreport
	    WHERE
	        <choose>
	            <when test="boardType == null or boardType==''">
	                1=1
	            </when>
	            <when test='boardType == "T"'>
	                boardType = 'T'
	            </when>
	            <when test='boardType == "P"'>
	                boardType = 'P'
	            </when>
	        </choose>
	        <if test="keyword != null and keyword != ''">
	            AND EXISTS (
	                SELECT 1 FROM (
	                    SELECT tipcno AS cno, writer FROM tipboardcomments WHERE boardType = 'T'
	                    UNION ALL
	                    SELECT policycno AS cno, writer FROM policyboardcomments WHERE boardType = 'P'
	                ) comment
	                WHERE comment.cno = CASE
	                    WHEN boardType = 'T' AND commentsreport.tipcno IS NOT NULL THEN commentsreport.tipcno
	                    WHEN boardType = 'P' AND commentsreport.policycno IS NOT NULL THEN commentsreport.policycno
	                    ELSE NULL
	                END
	                AND comment.writer LIKE CONCAT('%', #{keyword}, '%')
	            )
	        </if>
	</select>
	
	<select id="getBoardTotalCount" resultType="int" parameterType="com.moa.youthpolicy.common.Criteria">
	    SELECT
	        COUNT(DISTINCT CASE
	                WHEN boardType = 'T' AND EXISTS (SELECT 1 FROM tipboard WHERE tipbno = boardreport.tipbno) THEN boardreport.tipbno
	                WHEN boardType = 'S' AND EXISTS (SELECT 1 FROM suggestedboard WHERE suggestbno = boardreport.suggestbno) THEN boardreport.suggestbno
	                ELSE NULL
	            END
	        ) AS totalCount
	    FROM boardreport
	    WHERE
	        <choose>
	            <when test="boardType == null or boardType==''">
	                1=1
	                
	            </when>
	            <when test='boardType == "T"'>
	                boardType = 'T'
	            </when>
	            <when test='boardType == "S"'>
	                boardType = 'S'
	            </when>
	        </choose>
	        <if test="keyword != null and keyword != ''">
	            AND EXISTS (
	                SELECT 1 FROM (
	                    SELECT tipbno AS bno, writer FROM tipboard WHERE boardType = 'T'
	                    UNION ALL
	                    SELECT suggestbno AS bno, writer FROM suggestedboard WHERE boardType = 'S'
	                ) board
	                WHERE board.bno = CASE
	                    WHEN boardType = 'T' AND boardreport.tipbno IS NOT NULL THEN boardreport.tipbno
	                    WHEN boardType = 'S' AND boardreport.suggestbno IS NOT NULL THEN boardreport.suggestbno
	                    ELSE NULL
	                END
	                AND board.writer LIKE CONCAT('%', #{keyword}, '%')
	            )
	        </if>
	</select>

	<select id="getListWithPaging" resultType="UserVO" parameterType="com.moa.youthpolicy.common.Criteria">
		SELECT * FROM user
		<choose>
			<when test='userType == "1" or userType == null'>
				WHERE userType = 1
			</when>
			<when test='userType == "3"'>
				WHERE userType = 3
			</when>		
		</choose>

		
		<if test='type == "nick" or type == null'>
			<choose>
				<when test="keyword != null and keyword != ''">
					AND nick LIKE CONCAT('%', #{keyword}, '%')
				</when>		
				<otherwise>
					AND nick LIKE CONCAT('%', '', '%')
				</otherwise>	
			</choose>
		</if>
		<if test='type == "Email"'>
			<choose>
				<when test="keyword != null and keyword != ''">
					AND Email LIKE CONCAT('%', #{keyword}, '%')
				</when>		
				<otherwise>
					AND Email LIKE CONCAT('%', '', '%')
				</otherwise>	
			</choose>
		</if>
		ORDER BY regDate DESC
		LIMIT #{start}, #{amount}
	</select>
	
	<select id="commentListPaging" resultType="AdminVO" parameterType="com.moa.youthpolicy.common.Criteria">
	    <choose>
	        <when test='boardType == "T"'>
	            <!-- boardType이 T인 경우 -->
	            SELECT
	                t.*, 'T' AS boardType,
	                (SELECT COUNT(cr.tipcno) FROM commentsreport cr WHERE cr.tipcno = t.cno) AS countCommentReport,
	                (SELECT MAX(cr.isChecked) FROM commentsreport cr WHERE cr.tipcno = t.cno) AS isChecked
	            FROM
	                tipboardcomments t
	            WHERE
	                EXISTS (SELECT 1 FROM commentsreport cr WHERE cr.tipcno = t.cno)
	            <!-- 추가된 검색 조건 -->
	            <if test="keyword != null and keyword != ''">
	                AND t.writer IN (
	                    SELECT writer FROM tipboardcomments WHERE boardType = 'T' AND writer LIKE CONCAT('%', #{keyword}, '%')
	                )
	            </if>
	            ORDER BY
	                isChecked ASC, regDate DESC
	            LIMIT #{start}, #{amount};
	        </when>
	        <when test='boardType == "P"'>
	            <!-- boardType이 P인 경우 -->
	            SELECT
	                p.*, 'P' AS boardType,
	                (SELECT COUNT(cr.policycno) FROM commentsreport cr WHERE cr.policycno = p.cno) AS countCommentReport,
	                (SELECT MAX(cr.isChecked) FROM commentsreport cr WHERE cr.policycno = p.cno) AS isChecked
	            FROM
	                policyboardcomments p
	            WHERE
	                EXISTS (SELECT 1 FROM commentsreport cr WHERE cr.policycno = p.cno)
	            <!-- 추가된 검색 조건 -->
	            <if test="keyword != null and keyword != ''">
	                AND p.writer IN (
	                    SELECT writer FROM policyboardcomments WHERE boardType = 'p' AND writer LIKE CONCAT('%', #{keyword}, '%')
	                )
	            </if>
	            ORDER BY
	                isChecked ASC, regDate DESC
	            LIMIT #{start}, #{amount};
	        </when>
	        <otherwise>
	            <!-- boardType이 없는 경우 -->
	            SELECT
	                t.*, 'T' AS boardType,
	                (SELECT COUNT(cr.tipcno) FROM commentsreport cr WHERE cr.tipcno = t.cno) AS countCommentReport,
	                (SELECT MAX(cr.isChecked) FROM commentsreport cr WHERE cr.tipcno = t.cno) AS isChecked
	            FROM
	                tipboardcomments t
	            WHERE
	                EXISTS (SELECT 1 FROM commentsreport cr WHERE cr.tipcno = t.cno)
	            <!-- 추가된 검색 조건 -->
	            <if test="keyword != null and keyword != ''">
	                AND t.writer IN (
	                    SELECT writer FROM tipboardcomments WHERE boardType = 'T' AND writer LIKE CONCAT('%', #{keyword}, '%')
	                )
	            </if>
	            UNION
	                
	            SELECT
	                p.*, 'P' AS boardType,
	                (SELECT COUNT(cr.policycno) FROM commentsreport cr WHERE cr.policycno = p.cno) AS countCommentReport,
	                (SELECT MAX(cr.isChecked) FROM commentsreport cr WHERE cr.policycno = p.cno) AS isChecked
	            FROM
	                policyboardcomments p
	            WHERE
	                EXISTS (SELECT 1 FROM commentsreport cr WHERE cr.policycno = p.cno)
	            <!-- 추가된 검색 조건 -->
	            <if test="keyword != null and keyword != ''">
	                AND p.writer IN (
	                    SELECT writer FROM policyboardcomments WHERE boardType = 'P' AND writer LIKE CONCAT('%', #{keyword}, '%')
	                )
	            </if>
	            ORDER BY
	                isChecked ASC, regDate DESC
	            LIMIT #{start}, #{amount};
	        </otherwise>
	    </choose>
	</select>
	

	<select id="boardListWithPaging" resultType="AdminVO" parameterType="com.moa.youthpolicy.common.Criteria">
	    <choose>
	        <when test='boardType == "T"'>
	            <!-- boardType이 T인 경우 -->
	            SELECT
	                t.*, 'T' AS boardType,
	                (SELECT COUNT(br.tipbno) FROM boardreport br WHERE br.tipbno = t.bno) AS countReport,
	                (SELECT MAX(br.isChecked) FROM boardreport br WHERE br.tipbno = t.bno) AS isChecked
	            FROM
	                tipboard t
	            WHERE
	                EXISTS (SELECT 1 FROM boardreport br WHERE br.tipbno = t.bno)
	                
	            <!-- 추가된 검색 조건 -->
	            <if test="keyword != null and keyword != ''">
	                AND t.writer IN (
	                    SELECT writer FROM tipboard WHERE boardType = 'T' AND writer LIKE CONCAT('%', #{keyword}, '%')
	                )
	            </if>
	                
	            ORDER BY
	                isChecked ASC, regDate DESC
	            LIMIT #{start}, #{amount};
	        </when>
	        <when test='boardType == "S"'>
	            <!-- boardType이 S인 경우 -->
	            SELECT
	                s.*, 'S' AS boardType,
	                (SELECT COUNT(br.suggestbno) FROM boardreport br WHERE br.suggestbno = s.bno) AS countReport,
	                (SELECT MAX(br.isChecked) FROM boardreport br WHERE br.suggestbno = s.bno) AS isChecked
	            FROM
	                suggestedboard s
	            WHERE
	                EXISTS (SELECT 1 FROM boardreport br WHERE br.suggestbno = s.bno)
	                
	            <!-- 추가된 검색 조건 -->
	            <if test="keyword != null and keyword != ''">
	                AND s.writer IN (
	                    SELECT writer FROM suggestedboard WHERE boardType = 'S' AND writer LIKE CONCAT('%', #{keyword}, '%')
	                )
	            </if>
	                
	            ORDER BY
	                isChecked ASC, regDate DESC
	            LIMIT #{start}, #{amount};
	        </when>
	        <otherwise>
	            <!-- boardType이 없는 경우 -->
	            SELECT
	                t.*, 'T' AS boardType,
	                (SELECT COUNT(br.tipbno) FROM boardreport br WHERE br.tipbno = t.bno) AS countReport,
	                (SELECT MAX(br.isChecked) FROM boardreport br WHERE br.tipbno = t.bno) AS isChecked
	            FROM
	                tipboard t
	            WHERE
	                EXISTS (SELECT 1 FROM boardreport br WHERE br.tipbno = t.bno)
	                
	            <!-- 추가된 검색 조건 -->
	            <if test="keyword != null and keyword != ''">
	                AND t.writer IN (
	                    SELECT writer FROM tipboard WHERE boardType = 'T' AND writer LIKE CONCAT('%', #{keyword}, '%')
	                )
	            </if>
             
	            UNION
	                
	            SELECT
	                s.*, 'S' AS boardType,
	                (SELECT COUNT(br.suggestbno) FROM boardreport br WHERE br.suggestbno = s.bno) AS countReport,
	                (SELECT MAX(br.isChecked) FROM boardreport br WHERE br.suggestbno = s.bno) AS isChecked
	            FROM
	                suggestedboard s
	            WHERE
	                EXISTS (SELECT 1 FROM boardreport br WHERE br.suggestbno = s.bno)
	                
	            <!-- 추가된 검색 조건 -->
	            <if test="keyword != null and keyword != ''">
	                AND s.writer IN (
	                    SELECT writer FROM suggestedboard WHERE boardType = 'S' AND writer LIKE CONCAT('%', #{keyword}, '%')
	                )
	            </if>
	                
	            ORDER BY
	                isChecked ASC, regDate DESC
	            LIMIT #{start}, #{amount};
	        </otherwise>

	    </choose>
	</select>


	
	<!-- 회원 정지 시 userType을 3으로 변경, 회원 해제 시 userType을 1로 변경 -->
	<update id="delMember" parameterType="UserVO">
		UPDATE user
		SET 
		<choose>
		<when test="userType==1">
			userType = 3,
			leaveDate = CURRENT_TIMESTAMP
		</when>
		<when test="userType==3">
			userType = 1,
			leaveDate = null
		</when>
		</choose>

		WHERE Email = #{Email}
	</update>
	
	<!-- 게시글 삭제 시 isdeleted을 1로 변경 -->
	<update id="delBoard" parameterType="com.moa.youthpolicy.common.Criteria">
		<choose>
		<when test='boardType == "T"'>
			UPDATE tipboard
		</when>
		<when test='boardType == "S"'>
			UPDATE suggestedboard
		</when>			
		</choose>
		<choose>
		<when test="isdeleted == 1">
			SET isdeleted = 0
		</when>
		<when test="isdeleted == 0">
			SET isdeleted = 1
		</when>
		</choose>

		WHERE bno = #{bno}		
	</update>

	
	<!-- 게시글 삭제 시 user table의 countReport값을 1 증가 -->
	<update id="updateUserCountReport" parameterType="com.moa.youthpolicy.common.Criteria">
	    UPDATE user
	    <choose>
	    <when test="isdeleted == 1 and isChecked == 1">
	    	SET countReport = countReport - 1
	    </when>
	    <when test="isdeleted == 0 and isChecked == 0">
	    	SET countReport = countReport + 1
	    </when>
	    <otherwise>
	    	SET countReport = countReport
	    </otherwise>
	    </choose>

	    WHERE nick IN (
	        SELECT DISTINCT writer
	        FROM 
	        <choose>
	            <when test='boardType == "T"'>
	                tipboard
	            </when>
	            <when test='boardType == "S"'>
	                suggestedboard
	            </when>
	        </choose>
	        WHERE boardType = #{boardType} AND bno = #{bno}
	    )
	</update>
		
	<!-- 게시글 삭제 or 처리 시 isChecked를 1로 변경 -->
	<update id="updateBoardReport" parameterType="com.moa.youthpolicy.common.Criteria">
		UPDATE boardreport
	    <choose>
	    <when test="isChecked == 1">
	    	SET isChecked = 0
	    </when>
	    <when test="isChecked == 0">
	    	SET isChecked = 1
	    </when>
	    </choose>
		
		<choose>
		<when test='boardType == "T"'>
			WHERE tipbno = #{bno} 
		</when>
		<when test='boardType == "S"'>
			WHERE suggestbno = #{bno}
		</when>
		</choose>
		AND boardType=#{boardType}	
	</update>

	<!-- 신고 상세 사유 모달에 담을 데이터 추출-->
	<select id="getBoardReportDetail" resultType="com.moa.youthpolicy.common.BoardReportVO" parameterType="com.moa.youthpolicy.common.Criteria">
		SELECT * FROM boardreport
		WHERE boardType=#{boardType} 
		AND
		<choose>
		<when test='boardType == "T"'>
		tipbno = #{bno}
		</when>
		<when test='boardType == "S"'>
		suggestbno = #{bno}
		</when>
		</choose> 
		ORDER BY reportDate DESC
	</select>
	
	<!-- 댓글 삭제 시 isdeleted을 1로 변경 -->
	<update id="deleteComment" parameterType="com.moa.youthpolicy.common.Criteria">
		<choose>
		<when test='boardType == "T"'>
			UPDATE tipboardcomments
		</when>
		<when test='boardType == "P"'>
			UPDATE policyboardcomments
		</when>			
		</choose>
		<choose>
		<when test="isdeleted == 1">
			SET isdeleted = 0
		</when>
		<when test="isdeleted == 0">
			SET isdeleted = 1
		</when>
		</choose>
			WHERE cno = #{cno}		
	</update>
	
	<!-- 댓글 삭제 시 user table의 countCommentReport값을 1 증가 -->
	<update id="updateCommentCountReport" parameterType="com.moa.youthpolicy.common.Criteria">
	    UPDATE user
	    <choose>
	    <when test="isdeleted == 1 and isChecked == 1">
	    	SET countCommentReport = countCommentReport - 1
	    </when>
	    <when test="isdeleted == 0 and isChecked == 0">
	    	SET countCommentReport = countCommentReport + 1
	    </when>
	    <otherwise>
	    	SET countCommentReport = countCommentReport
	    </otherwise>
	    </choose>

	    WHERE nick IN (
	        SELECT DISTINCT writer
	        FROM 
	        <choose>
	            <when test='boardType == "T"'>
	                tipboardcomments
	            </when>
	            <when test='boardType == "P"'>
	                policyboardcomments
	            </when>
	        </choose>
	        WHERE 
	        <choose>
            <when test='boardType == "T"'>
                boardType = #{boardType} AND bno = #{bno} AND cno = #{cno}
            </when>
            <when test='boardType == "P"'>
                boardType = #{boardType} AND no = #{bno} AND cno = #{cno}
            </when>
        </choose>
	    )
	</update>
	
	<!-- 댓글 삭제 or 처리 시 isChecked를 1로 변경 -->
	<update id="updateCommentReport" parameterType="com.moa.youthpolicy.common.Criteria">
		UPDATE commentsreport
	    <choose>
	    <when test="isChecked == 1">
	    	SET isChecked = 0
	    </when>
	    <when test="isChecked == 0">
	    	SET isChecked = 1
	    </when>
	    </choose>
		<choose>
		<when test='boardType == "T"'>
			WHERE tipcno = #{cno} 
		</when>
		<when test='boardType == "P"'>
			WHERE policycno = #{cno}
		</when>
		</choose>
		AND boardType=#{boardType}	
	</update>
	
	<!-- 신고 상세 사유 모달에 담을 데이터 추출-->
	<select id="getCommentReportDetail" resultType="com.moa.youthpolicy.common.CommentsReportVO" parameterType="com.moa.youthpolicy.common.Criteria">
		SELECT * FROM commentsreport
		WHERE boardType=#{boardType} 
		<choose>
		<when test='boardType == "T"'>
			AND tipcno = #{cno}
		</when>
		<when test='boardType == "P"'>
			AND policycno = #{cno}
		</when>
		</choose> 
		ORDER BY reportDate DESC
	</select>
</mapper>