/********** Template CSS **********/

@font-face {
    font-family: 'LINESeedKR-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'LINESeedKR-Bd_light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Rg.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
}

* {
    font-family: 'LINESeedKR-Bd';
}

.font_light{
    font-family: 'LINESeedKR-Bd_light';
}

:root {
    --primary: #16a9fe;
    --light: #F1F8FF;
    --dark: #0F172B;
}

.fw-medium {
    font-weight: 500 !important;
}

.fw-semi-bold {
    font-weight: 600 !important;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** 
 ***/
.btn {
    font-weight: 500;
    text-transform: uppercase;
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-secondary {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 2px;
}


/*** Navbar ***/
.navbar-dark .navbar-nav .nav-link {
    margin-right: 30px;
    padding: 25px 0;
    color: #000000;
    font-size: 15px;
    text-transform: uppercase;
    outline: none;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    color: var(--primary);
}

@media (max-width: 991.98px) {
    .navbar-dark .navbar-nav .nav-link {
        margin-right: 0;
        padding: 10px 0;
    }
}


/*** Header ***/

#header_wish{
	margin-right:0px !important;
	color:black;
}



#login_box{
    justify-content: center;

}


#login_banner{
    margin-top: 20px;
    height: 180px;
}

#login_h1{
    padding-top: 40px;
    padding-bottom: 0px;
    margin-bottom: 0px !important
}




#login_menu_box{
    width: 150px;
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    padding-left: 0px;
    padding-top: 42px;
}

#admin_login_menu_box{
    width: 180px;
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    padding-left: 0px;
    padding-top: 42px;
}
#login_menu_box_guest{
    width: 150px;
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    padding-left: 0px;
    padding-top: 30px;
}

.col-sm-2,
.col-sm-4 {
  flex: 1;
  margin: 0px; /* 셀 사이 간격 조절을 위한 마진 설정 */
}

.col-sm-2 {
    flex-basis: 0%; /* 첫 번째 열 너비 설정 */
  }



  .col-sm-4 {
    flex-basis: 40%; /* 두 번째, 세 번째 열 너비 설정 */
  }

#login_letter,
#register_letter {
  margin: 0; /* 기본 마진 제거 */
}

#main_menu #myPage {
    margin-right: 0px;
}

#header_menu {
    padding-left: 0px;
}

#login_pic {
    width: 30%;
}

#header_member_alert{
    width: 30px;
}


.register_letter{
    padding-left: 13px;
}

#register_letter_guest{
    padding-top: 10px;
    padding-left: 5px;
}

#login {
    width: 50px;
   
}

#adminMenu{
    width: 35px;
    margin-left: 20px;
}


#adminMenu_letter{
	padding-top: 3px;
}


#notify_letter{
    width: 30px;
}

#notify{
    width: 30px;
    padding-bottom: 8px;
}

#logout{
    width: 38px;
    margin-left: 25px;
}

#admin_logout{
    width: 38px;
    margin-left: 25px;
}




#header_member_alert{
    width: 30px;
}

#register {
    width: 30px;
    padding-top: 10px;
    margin-left: 20px;
}

#header_member_logout{
    width: 35px;
}



#logo {
    padding-top: 20px;
    width: 350px;
}
#nickname_box{
    width: 300px;
    height: 50px;
    display: block;
    color: #000000;
    size: 10px;
    margin-top: 50px;
    margin-left: auto;
}
#nickname {
    padding-top: 30px;
    padding-right: 15px;
    text-align: right;
}






#previous_btn_box{
    width: 50px; height: 50px;
    background-color: #00000034;
}



.carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.carousel-control-prev,
.carousel-control-next {
    width: 10%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 3rem;
    height: 3rem;
}

@media (max-width: 768px) {
    #header-carousel .carousel-item {
        position: relative;
        min-height: 450px;
    }

    #header-carousel .carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.page-header {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.page-header-inner {
    background: #72d2ff;
    height: 50px;

}

.breadcrumb-item+.breadcrumb-item::before {
    color: var(--light);
}

.booking {
    position: relative;
    margin-top: -100px !important;
    z-index: 1;
}

.index_booking{
    position: relative;
    margin-top: 0px !important;
    z-index: 1;
}

.mypage_booking {
    position: relative;
    z-index: 1;
}

/*** index ***/
#index_wish{
	color: #666565;
	font-family: 'LINESeedKR-Bd_light';
}

/*** myPage ***/

.mypage_label{
    text-align: right;
}

/*** Section Title ***/



.mypage_section{
    position: relative;
    display: inline-block;
    content: "";
    background: var(--primary);
    width: 70%;
    height: 2px;   
    margin-top: 30px;
    left: 15%;
}

.section-title {
    position: relative;
    display: inline-block;
}

.section-title::before {
    position: absolute;
    content: "";
    width: 45px;
    height: 2px;
    top: 50%;
    left: -55px;
    margin-top: -1px;
    background: var(--primary);
}

.mypage_section-title::before {
    position: absolute;
    content: "";
    width: 45px;
    height: 2px;    
    top: 25%;
    left: 460px;
    margin-top: -1px;
    background: var(--primary);
}

.policy_section-title::before{
    position: absolute;
    content: "";
    width: 45px;
    height: 2px;
    top: 20%;
    left: 560px;
    margin-top: -1px;
    background: var(--primary);
}

.section-title::after {
    position: absolute;
    content: "";
    width: 45px;
    height: 2px;
    top: 50%;
    right: -55px;
    margin-top: -1px;
    background: var(--primary);
}

.mypage_section-title::after {
    position: absolute;
    content: "";
    width: 45px;
    height: 2px;
    top: 25%;
    right: 350px;
    margin-top: -1px;
    background: var(--primary);
}

.policy_section-title::after{
    position: absolute;
    content: "";
    width: 45px;
    height: 2px;
    top: 20%;
    right: 560px;
    margin-top: -1px;
    background: var(--primary);
}

.section-title.text-start::before,
.section-title.text-end::after {
    display: none;
}

/*** policy ***/



.policyGet_reportDetail{
    width: 465px;
    height: 200px;
}

#policyGet_checkbox{
    padding-left: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
  }

#policyGet_checkbox div{
    margin-bottom: 10px;
}


.policyGet_btn{
   margin-right:5px;
}

.policyGet_letter{
    padding-top: 10px;
}

.policyGet_likeBox{
    justify-content: center;
}

.policyGet_likeCount{
    font-size: 30px !important;
   margin-right: 5px;
   color: var(--primary);
}

.policyGet_likeBtn{
    padding-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.policyGet_like{
    width: 20px !important;
    cursor: pointer;
}

.policyGet_comment tbody tr td:first-child{
    text-align: left !important;
    
}

#communityBestCommentTable tbody tr td:first-child{
	width: 55% !important;
}
#communityBestCommentTable tbody tr td:last-child{
	width: 7% !important;
}


.policyGet_comment tbody tr td:nth-child(2){
    width: 10%;
}
.policyGet_comment tbody tr td:nth-child(3){
    width: 17%;
}
.policyGet_comment tbody tr td:nth-child(4){
    width: 8%;
}

.edit-delete-cell {
    width: 12%;
}

.report-cell {
    width: 10%;
}

.policyGet_title{
    display: flex;
    align-items: center;
    justify-content: center;
 
}


.policyGet_title div{
    margin-left: auto;
}

.policy_get_heart{
    width: 38px;
    cursor: pointer;
}

.policy_dt_table th{
    background-color: rgba(239, 239, 239, 0.401);
}

.policyWrite_table tbody tr td{
    text-align: left !important;
  
}

.policyWrite_table p{
    margin-bottom: 0px !important;
}

.note-editable p, .note-editable{
    font-family: 'LINESeedKR-Bd_light' !important;
}



.policy_page_nav{
    margin-top: 30px;
}

.commu_page_nav{
    margin-top: 30px;
}





.policy_search_box{
    padding-top: 20px;
}

#policy_search{
    width: 25px;
    margin-left: 10px;
    padding-bottom: 5px;
}

.policy_detail{
    margin-bottom: 20px;
}

.policy_detail #policy_areaName{
    float: left;
}

.policy_detail #policy_startDate{
    float: right;
}



.policy_row{
    justify-content: center;
}



.custom-control-input{
    border: none !important;
    padding-top: 10px;
}

.custom-control-label{
    margin-right: 15px;
}

#policy_checkbox{
    justify-content: right;
    display: flex;
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  #policy_checkbox .policy_writeBtn{
    margin-right: 10px;
}

.policy_heart{
    background-color: rgba(255, 255, 255, 0.434);
    padding: 5px;
    border-radius: 7px;
    width: 38px;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}
/*** suggest ***/
.sug_input{
    width: 1200px !important;
}


/*** admin ***/

.admin_modalBox{
	   height: 300px;
     overflow-y: auto;
}

.admin_boardModal{
    text-align: center;
    vertical-align: middle;
 
}

.admin_boardModal thead tr th{
	
    vertical-align: middle;
}

.admin_boardModal thead tr th:first-child{
	width: 20%;
}
.admin_boardModal thead tr th:last-child{
	width: 20%;
}



.admin_userTable tbody tr td, .admin_boardTable tbody tr td, .admin_boardModal tbody tr td{
    font-family: 'LINESeedKR-Bd_light';
}


.admin_boardTable tbody tr td:nth-child(3), .admin_boardTable tbody tr td:nth-child(5){
    cursor: pointer;
}

.admin_page_nav{
    padding-top: 30px;
}

.admin_boardTable thead tr th:nth-child(1){
	width: 7%;
}
.admin_boardTable thead tr th:nth-child(2){
	width: 15%;
}
.admin_boardTable thead tr th:nth-child(6){
	width: 7%;
}
.admin_boardTable thead tr th:nth-child(4){
	width: 12%;
}
.admin_boardTable thead tr th:nth-child(5){
	width: 7%;
}



/*** community ***/


.board_commentCnt{
    margin-left: 7px;
    color: #16a9fe;
    font-weight: 700;
}


.commuComment_cancelmodBtn, .commuComment_deleteBtn, .commuComment_reportBtn{
	margin-left:3px;
}
.commuComment_modBtn{
	margin-right:10px;
	margin-left:3px;
}

.commuComment_modDoneBtn{
	margin-right:10px;
}

.commu_pic{
    margin-right: 5px;
}

.commu_title{
	color:#666565;
	font-family: 'LINESeedKR-Bd_light';
	
}

.commu_title:hover{
	text-decoration: underline;
}

.commu_like{
	margin-right:3px;
}



.commuGet_btn{
    text-align: right;
}

.commuGet_like{
    display: flex;
}



.commuGet_likeBox{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}



.commuGet_table td{
    text-align: left !important;
}

.commuGet_table p{
	 font-family: LINESeedKR-Bd_light;
}

.commu_table, .commu_table_a, .admin_userTable, .admin_boardTable, .admin_boardModal{
    vertical-align: middle;
}

.commu_table_a{
	text-align: left !important;
}
.commu_table{
	width:1130px !important;
}



.commu_table tbody tr td:last-child{
    text-align: right !important;
}

.commu_table tbody tr td{
    font-family: LINESeedKR-Bd_light;
}

.commu_table tbody tr td span{
    font-family: LINESeedKR-Bd_light;
}



.commu_table th, .policy_dt_table td  {
    text-align: center;
    vertical-align: middle;
}



.commu_table tbody tr td:first-child, .commu_table tbody tr td:last-child,
 .commu_table tbody tr td:nth-child(2), .commu_table tbody tr td:nth-child(4),
.commu_table tbody tr td:nth-child(5) {
    
    text-align: center;
}





 #commu_likeBtn{
    cursor: pointer;
}



.commu_table thead tr th:nth-child(1) {
    width: 9%;
}
.commu_table thead tr th:nth-child(3) {
    width: 30%;
}



.commu_table thead tr th:nth-child(2) {
    width: 10%;
}

.commu_table thead tr th:nth-child(4) {
    width: 10%;
}
.commu_table thead tr th:nth-child(5) {
    width: 10%;
}

.commu_like{
    width: 23px;
}

/*** find login info ***/
.userModi_findID{
    margin-left: 5px;
}


/*** register ***/

.validation{
	color: red;
	font-size:small;
	 font-family: 'LINESeedKR-Bd_light' !important;
}

#card-body{
 padding-right: 70px;
    padding-left: 70px;
    padding-top: 55px;
    padding-bottom: 55px;
    width: 100%;
}

#usermodi_card-body{
    padding-right: 70px;
    padding-left: 70px;
    padding-top: 55px;
    padding-bottom: 55px;
    width: 50%;
}

#regi_pwd_letter{
    padding-right: 0px;
    text-align: right;
}

.regi_checkBtn{
    margin-left: 10px;
}

#regi_btn{
    text-align: center;
    padding-top: 50px;
}

#regi_regiBtn{
    margin-right: 10px;
}

/*** Service ***/



#mini_table td {
    font-family: 'LINESeedKR-Bd_light';
}
#mini_title{
    padding: 10px;
    margin-bottom: 40px;
}


.heading1 h2, .container h6{
    font-family: 'LINESeedKR-Bd';
    margin: 0px;
}

#mini_board{
    padding-top: 0px;
}

.container h6{
    font-size: 50px;
    padding-top: 20px;
}

.list_date{
    width: 130px;
    text-align: right;
}

.service-item {
    height: 320px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
    transition: .5s;
}

.service-item:hover {
    background: var(--primary);
}

.service-item .service-icon {
    margin: 0 auto 30px auto;
    width: 65px;
    height: 65px;
    transition: .5s;
}

.service-item i,
.service-item h5,
.service-item p {
    transition: .5s;
}

.service-item:hover i,
.service-item:hover h5,
.service-item:hover p {
    color: #FFFFFF !important;
}


/*** Youtube Video ***/
.video {
    position: relative;
    height: 100%;
    min-height: 500px;
    background: linear-gradient(rgba(15, 23, 43, .1), rgba(15, 23, 43, .1)), url(../img/video.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.video .btn-play {
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    box-sizing: content-box;
    
    display: block;
    width: 32px;
    height: 44px;
    border-radius: 50%;
    border: none;
    outline: none;
    padding: 18px 20px 18px 28px;
}

.video .btn-play:before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 100px;
    height: 100px;
    background: var(--primary);
    border-radius: 50%;
    animation: pulse-border 1500ms ease-out infinite;
}

.video .btn-play:after {
    content: "";
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 100px;
    height: 100px;
    background: var(--primary);
    border-radius: 50%;
    transition: all 200ms;
}

.video .btn-play img {
    position: relative;
    z-index: 3;
    max-width: 100%;
    width: auto;
    height: auto;
}

.video .btn-play span {
    display: block;
    position: relative;
    z-index: 3;
    width: 0;
    height: 0;
    border-left: 32px solid var(--dark);
    border-top: 22px solid transparent;
    border-bottom: 22px solid transparent;
}

@keyframes pulse-border {
    0% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1;
    }

    100% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
        opacity: 0;
    }
}

#videoModal {
    z-index: 99999;
}

#videoModal .modal-dialog {
    position: relative;
    max-width: 800px;
    margin: 60px auto 0 auto;
}

#videoModal .modal-body {
    position: relative;
    padding: 0px;
}

#videoModal .close {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 0px;
    top: -30px;
    z-index: 999;
    font-size: 30px;
    font-weight: normal;
    color: #FFFFFF;
    background: #000000;
    opacity: 1;
}


/*** Testimonial ***/
.testimonial {
    background: linear-gradient(rgba(15, 23, 43, .7), rgba(15, 23, 43, .7)), url(../img/carousel-2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.testimonial-carousel {
    padding-left: 65px;
    padding-right: 65px;
}

.testimonial-carousel .testimonial-item {
    padding: 30px;
}

.testimonial-carousel .owl-nav {
    position: absolute;
    width: 100%;
    height: 40px;
    top: calc(50% - 20px);
    left: 0;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next {
    position: relative;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: var(--primary);
    border-radius: 2px;
    font-size: 18px;
    transition: .5s;
}

.testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial-carousel .owl-nav .owl-next:hover {
    color: var(--primary);
    background: #FFFFFF;
}


/*** Team ***/
.team-item,
.team-item .bg-primary,
.team-item .bg-primary i {
    transition: .5s;
}

.team-item:hover {
    border-color: var(--secondary) !important;
}

.team-item:hover .bg-primary {
    background: var(--secondary) !important;
}

.team-item:hover .bg-primary i {
    color: var(--secondary) !important;
}


/*** Footer ***/


#footer_box{
    text-align: center;
}

.newsletter {
    position: relative;
    z-index: 1;
}

.footer {
    position: relative;
    margin-top: -110px;
}

.footer .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    border: 1px solid #000000;
    border-radius: 35px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #000000;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .copyright {
    display: inline-block;
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--light);
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgb(0, 0, 0);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}   